* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  position: relative;
  float: left;
  font-family: "Inter", sans-serif;
  color: #2d2e2e;
  cursor: pointer;
}

ul {
  padding-top: 36px;
  margin-left: 450px;
}

ul > li {
  font-size: 14px;
  margin-left: 45px;
}

#search {
  margin-top: 34px;
  margin-left: 40px;
}
