* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Phudu", cursive;
  list-style-type: none;
}

body {
  background-color: #3498db;
}

.slider {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-container {
  width: 40%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
.slider .slide {
  width: 100%;
  text-align: center;
  position: absolute;
  transition: 1.5s;
  background-color: #fff;
  left: 0;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: #3498db;
  font-size: 40px;
}

.btn {
  position: absolute;
  width: 30px;
  height: 31px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  font-size: 20px;
  opacity: 0.7;
}
.btn:hover {
  opacity: 1;
}

.btn-prev {
  top: 48%;
  left: 27%;
}

.btn-next {
  top: 48%;
  right: 27%;
}

.mover {
  position: absolute;
  top: 54vh;
}

.point {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
  column-gap: 10px;
  justify-content: center;
  font-size: 70px;
  color: #000;
}

.points {
  cursor: pointer;
  opacity: 0.4;
}
.points:hover {
  opacity: 1;
}
