* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border-radius: 50%;
  position: absolute;
  margin-left: 0.5%;
  margin-top: 0.5%;
  transition: 3s ease-in-out;
}

.click {
  background-color: aquamarine;
  padding: 10px 20px;
  border: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
  transition: 0.7s;
}

.click:hover {
  background-color: rgb(72, 162, 132);
}
