* {
  margin: 0px;
  padding: 0px;
  font-family: "catamaran", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

h1 {
  font-family: "Pacifico", cursive;
  float: right;
  padding-block: 40px;
  cursor: default;
  color: #aa625a;
}

#about {
  cursor: default;
}

nav {
  background-color: #eae7dc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: inline-flex;
  float: right;
  margin-right: 30px;
}

nav img {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

nav ul {
  list-style: none;
}

nav ul a {
  text-decoration: none;
  margin-left: 20px;
  padding: 10px;
  border: 1px solid #eae7dc;
  border-radius: 30px;
  background-color: #e98074;
  color: white;
}

nav ul a:hover {
  background-color: #9a190a;
  transition: 0.5s;
  padding: 13px;
  box-shadow: #aa625a 1.5px 1.5px;
}

main {
  display: inline-flex;
  align-items: center;
  background-color: #d8c3ae;
  font-size: 30px;
  padding-inline: 350px;
  padding-block: 30px;
}


section {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
  background-color: #eae7dc;
  gap: 20px;
}


section h2 {
  text-align: center;
}


section .login-box {
  border: 1px solid #aa625a;
  background-color: #aa625a;
  border-radius: 20px;
  float: left;
  color: #eae7dc;
  padding: 50px;
  margin-top: 30px;
  margin-left: 30%; 
  box-shadow: black 0px 0px 10px; 
}

section .signup-box {
  border: 1px solid #aa625a;
  background-color: #aa625a;
  float: right;
  color: #eae7dc;
  border-radius: 15px;
  padding: 50px;
  margin-right: 50%;
  margin-top: 30px;
  box-shadow: black 0px 0px 10px; 
}

section a {
  text-decoration: none;
  font-size: 12px;
  color: black;
}

input[type="text"] {
  width: 200px;
  border-radius: 5px;
  border: #eae7dc 1px solid;
}

input[type="password"] {
  width: 200px;
  border-radius: 5px;
  border: #eae7dc 1px solid;
}

input[type="email"] {
  width: 200px;
  border-radius: 5px;
  border: #eae7dc 1px solid;
}

#login,
#signup {
  margin-top: 10px;
  width: 100%;
  border: 1px solid #e98074;
  background-color: #e98074;
  border-radius: 15px;
  color: #eae7dc;
  padding-block: 3px;
  cursor: pointer;
}

#login:hover {
  background-color: #9a190a;
  padding: 8px;
  box-shadow: #aa625a 1.5px 1.5px;
  transition: 0.5s;
}

#signup:hover {
  background-color: #9a190a;
  padding: 8px;
  box-shadow: #aa625a 1.5px 1.5px;
  transition: 0.5s;
}

.books {
  background-color: #8d8e8a;
  align-items: center;
}

table {
  margin-inline: 40%;
  color: #eae7dc;
  margin-top: 30px;
}

table,
td,
th {
  border: 4px solid #eae7dc;
  border-collapse: collapse;

  width: 100%;
}

th.ourbooksheading {
  font-size: 20px;
}

table button {
  background-color: #d8c3ae;
  border: #d8c3ae;
  color: #aa625a;
  padding: 3px;
  border-radius: 5px;
  width: 100%;

  cursor: pointer;
}

#purchase:hover {
  background-color: #aa625a;
  color: #eae7dc;
  transition: 0.8s;
}

footer {
  background-color: #eae7dc;
  float: left;
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

footer li {
  color: #8d8e8a;
  font-weight: 400;
  font-size: 20px;
  list-style: none;
}

footer a {
  text-decoration: none;
  color: #8d8e8a;
}

footer a:hover {
  color: #535452;
  transition: 0.5s;
}

hr {
  margin-block: 10px;
  margin-inline: 600px;
}

footer p {
  cursor: default;
  font-size: 13px;
}
